<div mat-dialog-title>
    <h1>Task Form</h1>
</div>
<input type="checkbox" [(ngModel)]="isChecked" />
<!-- <input type="checkbox" [(ngModel)]="isChecked" (change)="checkValue(isChecked ? 'A' : 'B')" /> -->
<form [formGroup]="taskForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field >
                <mat-label>Input</mat-label>
                <input matInput type="text" placeholder="Enter Task" formControlName="description">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cencel</button>
        <button mat-raised-button color="primary" type="submit">{{data ?  'Update': 'Save'}}</button>
    </div>
</form>
